<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" /> -->
    <style>
        .plus {
            font-size: 7rem; /* Adjust size as needed */
            color: red;
            display: flex;
            align-items: center;  /* Center content vertically within the plus-sign div */
            justify-content: center;  /* Center content horizontally within the plus-sign div */
            margin: 0;  /* Ensure no extra margin is affecting alignment */
            padding: 0;  /* Ensure no extra padding is affecting alignment */

        }
    </style>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal">

  


   {% include 'includes/navbar.html' %}
    
   {% block homepage %}

   {% endblock %}

    <!-- <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script> -->
</body>

</html>